@using ShoppingMall.ViewModels

@model IEnumerable<StoreCategoryByTypesVM>

@{
    ViewBag.Title = "AddShops";
    Layout = "~/Views/_CustomTemplate.cshtml";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #fcfbfb; font-size: 18px;">
                <li class="breadcrumb-item">
                    @Html.ActionLink(" ", "Index", "Home", null, new { @class = "fa fa-home mt-2", @style = "color: grey; font-size: 20px; text-decoration: none" })
                </li>
                <li class="breadcrumb-item active" aria-current="page" style="margin-top: 10px; color: grey">Добавить интернет-магазин</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1 class="ml-3 mb-4" style="font-size: 24px">
            Добавление интернет-магазина
        </h1>
    </div>
</div>

<div class="row mb-5">

    <div class="col-3"></div>

    @using (Ajax.BeginForm("GetOnlineStore", "Shops", new AjaxOptions { UpdateTargetId = "ErrorMessageServerValidation" }, new { @class = "col-6 needs-validation", @id = "OnlineShop", @enctype = "multipart/form-data", @style = "border: 1px solid #e2e2e2; background-color: #F1F1F1", @novalidate = "novalidate" }))
    {
        <div class="row mt-4">
            <div class="col-12">Ссылка на основной домен <strong class="text-danger">*</strong></div>
        </div>

        <div class="row">
            <div class="col-12">
                @Html.TextBox("UrlStore", null, new { @class = "form-control mt-2", @style = "border-radius: 0px", @required = "required", @type = "url" })
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">Название <strong class="text-danger">*</strong></div>
        </div>

        <div class="row">
            <div class="col-12">
                @Html.TextBox("StoreName", null, new { @class = "form-control mt-2", @style = "border-radius: 0px", @required = "required", @pattern = "[^ ].{4,30}" })
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">Логотип <strong class="text-danger">*</strong></div>
        </div>

        <div id="ImageInfo" class="invisible">
            <div class="mt-2"></div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <span id="CaptionInput" style="display: inline-block; color: #0275d8; text-decoration: underline">Добавить изображение</span>
                @Html.TextBox("image", null, new { @id = "FileUploader", @type = "file", @style = "position: relative; display: block; opacity: 0; margin-top: -18px", @accept = "image/*", @onchange = "GetDataFiles(this)", @required = "required" })
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">Описание</div>
        </div>

        <div class="row">
            <div class="col-12">
                @Html.TextArea("Description", new { @rows = "8", @class = "mt-2 form-control", @maxlength = "500" })
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">Категории<strong class="text-danger">*</strong></div>
        </div>

        <div class="row mt-2">
            <div class="col-12">

                <div id="Category" style="background-color: white; width: auto; height: auto; min-height: 40px; border: 1px solid #ced4da" tabindex="-1" onclick="FocusOnInput()">
                    <input id="Search" class="ml-2" style="height: 40px; border: none" />
                </div>

                <div id="DropDownList" class="row invisibly">
                    <div class="col-12">
                        <div style="height: 200px; overflow: auto; overflow-x: hidden">
                            <div style="background-color: white; border: 1px solid #ced4da;">
                                <ul id="DropDownListElements" class="mb-2"></ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-5">Телефон</div>
                    <div class="col-5 text-right">
                        <i class="fa fa-question-circle" aria-hidden="true" title="Основной телефон интернет-магазина (для приёма заказов из любых городов)"></i>
                    </div>
                </div>

                <div id="ContainerPhone">
                    <div id="Element" class="row">
                        <div class="col-10">
                            @Html.TextBox("Phones[0].PhoneStoreName", null, new { @class = "form-control mt-2", @style = "border-radius: 0px", @id = "Phone" })
                        </div>

                        <div class="col-2">
                            <button id="bPhone" onclick="ChangedButton(this)" class="btn mt-1" type="button" style="width: 43px; height: 43px; background-color: #fcfbfb; border-radius: 100%; border: 1px solid #e1e1e1;">
                                <span style="font-size: 21px; font-weight: 700;">+</span>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-5">Email</div>
                    <div class="col-5 text-right">
                        <i class="fa fa-question-circle" aria-hidden="true" title="Основной email интернет-магазина (для приёма заказов из любых городов)"></i>
                    </div>
                </div>

                <div id="ContainerEmail">
                    <div id="Element" class="row">
                        <div class="col-10">
                            @Html.TextBox("Emails[0].Email", null, new { @class = "form-control mt-2", @style = "border-radius: 0px", @id = "Email" })
                        </div>

                        <div class="col-2">
                            <button id="bEmail" onclick="ChangedButton(this)" type="button" class="btn mt-1" style="width: 43px; height: 43px; background-color: #fcfbfb; border-radius: 100%; border: 1px solid #e1e1e1;">
                                <span style="font-size: 21px; font-weight: 700;">+</span>
                            </button>
                        </div>
                    </div>
                </div>

                @*БЛОК ДОПОЛНИТЕЛЬНОЙ ИНФОРМАЦИИ*@
                <div id="PanelContainer">
                    <div id="Panel" class="row">
                        <div class="col-12 mt-4">
                            <div class="mb-4" style="border: 1px dashed #999; background-color: #e5e5e5;">
                                <div class="row" style="margin-left: 10px; margin-right: 10px">
                                    <div class="col-12">

                                        <div class="row mt-4">
                                            <div class="col-6">Город <strong class="text-danger">*</strong></div>
                                            <div class="col-6 text-right">
                                                <i class="fa fa-question-circle" aria-hidden="true" title="Пожалуйста, выбирайте только тот город/города, где у вас есть собственные пункты выдачи."></i>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                @Html.TextBox("RegionalStoreData[0].City", null, new { @class = "form-control mt-2", @style = "border-radius: 0px", @id = "RegionalDateStore", @required = "required" })
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-6">Региональный поддомен</div>
                                            <div class="col-6 text-right">
                                                <i class="fa fa-question-circle" aria-hidden="true" title="Если ваш сайт разделен на региональные поддомены - укажите ссылку на поддомен текущего города."></i>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                @Html.TextBox("RegionalStoreData[0].RegionalSubdomain", null, new { @class = "form-control mt-2", @style = "border-radius: 0px" })
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-5">Адрес <strong class="text-danger">*</strong></div>
                                            <div class="col-5 text-right">
                                                <i class="fa fa-question-circle" aria-hidden="true" title="Указывайте адреса только собственных пунктов выдачи. Магазины с адресами транспортных компаний будут отклоняться на этапе модерации."></i>
                                            </div>
                                        </div>

                                        <div id="ContainerAddress">
                                            <div id="Element" class="row">
                                                <div class="col-10">
                                                    @Html.TextBox("RegionalStoreData[0].Addresses[0].AddressName", null, new { @class = "form-control mt-2", @style = "border-radius: 0px", @id = "Address", @placeholder = "Улица, дом, офис ...", @required = "required", @pattern = @"[^ ].{4,30}" })
                                                </div>

                                                <div class="col-2">
                                                    <button id="bAddress" onclick="ChangedButton(this)" type="button" class="btn mt-1" style="width: 43px; height: 43px; background-color: #fcfbfb; border-radius: 100%; border: 1px solid #e1e1e1;">
                                                        <span style="font-size: 21px; font-weight: 700;">+</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-5">Телефон</div>
                                            <div class="col-5 text-right">
                                                <i class="fa fa-question-circle" aria-hidden="true" title="Телефон регионального пункта выдачи. Дублировать здесь основной телефон не нужно."></i>
                                            </div>
                                        </div>

                                        <div id="ContainerRegionPhone">
                                            <div id="Element" class="row">

                                                <div class="col-10">
                                                    @Html.TextBox("RegionalStoreData[0].PhoneStores[0].PhoneStoreName", null, new { @class = "form-control mt-2", @style = "border-radius: 0px", @id = "RegionPhone" })
                                                </div>

                                                <div class="col-2">
                                                    <button id="bRegionPhone" onclick="ChangedButton(this)" type="button" class="btn mt-1" style="width: 43px; height: 43px; background-color: #fcfbfb; border-radius: 100%; border: 1px solid #e1e1e1;">
                                                        <span style="font-size: 21px; font-weight: 700;">+</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-5">Email</div>
                                            <div class="col-5 text-right">
                                                <i class="fa fa-question-circle" aria-hidden="true" title="Email регионального пункта выдачи. Дублировать здесь основной email не нужно."></i>
                                            </div>
                                        </div>

                                        <div id="ContainerRegionEmail">
                                            <div id="Element" class="row">
                                                <div class="col-10">
                                                    @Html.TextBox("RegionalStoreData[0].EmailStores[0].Email", null, new { @class = "form-control mt-2", @style = "border-radius: 0px", @id = "RegionEmail" })
                                                </div>

                                                <div class="col-2">
                                                    <button id="bRegionEmail" onclick="ChangedButton(this)" type="button" class="btn mt-1" style="width: 43px; height: 43px; background-color: #fcfbfb; border-radius: 100%; border: 1px solid #e1e1e1;">
                                                        <span style="font-size: 21px; font-weight: 700;">+</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-4 mb-4">
                                            <div class="col-10">
                                                <button id="bAddNewCity" onclick="AddNewPanel(this)" type="button" class="btn btn-block" style="background-color: #f8f8f8; border-radius: 10px">
                                                    <span style="font-weight: 600; font-size: 20px">+ Добавить еще город</span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*БЛОК ВЫВОДА СООБЩЕНИЙ ОБ ОШИБКАХ ВАЛИДАЦИИ*@
                <div id="ErrorValidate" class="row" style="display: none">
                    <div class="col-12 text-danger">
                        <div class="mb-4" style="border: 1px solid red">

                            <div class="ml-2 mt-2 mb-2" id="MessageInvalidUrlStore" style="display: none">
                                <span>Некорректный URL! Возможные причины ошибок:</span>
                                <ul class="ml-3">
                                    <li class="mt-1">- Вы не указали ссылку на основной домен.</li>
                                </ul>
                            </div>

                            <div class="ml-2 mt-2 mb-2" id="MessageInvalidStoreName" style="display: none">
                                <span>Некорректное Название! Возможные причины ошибок:</span>
                                <ul class="ml-3">
                                    <li class="mt-1">- Вы оставили поле с названием пустым.</li>
                                    <li class="mt-1">- Вы поставили один или несколько пробелов.</li>
                                    <li class="mt-1">- Ваше название менее пяти символов.</li>
                                    <li class="mt-1">- Ваше название более тридцати символов.</li>
                                </ul>
                            </div>

                            <div class="ml-2 mt-2 mb-2" id="MessageInvalidFileUploader" style="display: none">
                                <span>Некорректный Логотип! Возможные причины ошибок:</span>
                                <ul class="ml-3">
                                    <li class="mt-1">- Вы не загрузили файл.</li>
                                </ul>
                            </div>

                            <div class="ml-2 mt-2 mb-2" id="MessageInvalidSearch" style="display: none">
                                <span>Некорректная Категория! Возможные причины ошибок:</span>
                                <ul class="ml-3">
                                    <li class="mt-1">- Вы не выбрали ни одной категории.</li>
                                </ul>
                            </div>

                            <div class="ml-2 mt-2 mb-2" id="MessageInvalidRegionalDateStore" style="display: none">
                                <span>Некорректный Город! Возможные причины ошибок:</span>
                                <ul class="ml-3">
                                    <li class="mt-1">- Вы не выбрали город из выпадающего списка.</li>
                                </ul>
                            </div>

                            <div class="ml-2 mb-2" id="MessageInvalidAddress" style="display: none">
                                <span>Некорректный Адрес! Возможные причины ошибок:</span>
                                <ul class="ml-3">
                                    <li class="mt-1">- Вы не указали ни одного адреса.</li>
                                    <li class="mt-1">- Вы добавили несколько полей адреса, но оставили их пустыми.</li>
                                    <li class="mt-1">- Ваш адрес не соответствуют минимальной длинне в пять символов.</li>
                                    <li class="mt-1">- Ваш адрес начинается с пробела.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="ErrorMessageServerValidation" class="row">
                    @Html.Partial("AddShopsErrorMessage")
                </div>

                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-block btn-lg mb-4" type="submit" onclick="DisplayValidationErrorMessages()" style="background-color: red; padding: 20px"><span class="text-white">Отправить</span></button>
                    </div>
                </div>

                <div class="col-3"></div>
            </div>
        </div>

        <div id="InputHiddenFields" style="display: none"></div>
    }
</div>